<h2>najważniejsze ogłoszenia</h2>

<div *ngIf="importantOgloszenia.length === 0">nie ma żadnych ważnych ogłoszeń</div>

<div class="card" *ngFor="let importantOgloszenie of importantOgloszenia; let i = index">
    <div class="row">
        <h2 class="col-8 tytul"> {{ importantOgloszenie.title }} </h2>
        <button class="col-3" (click)="favChange(importantOgloszenie)" [ngClass]="{'fav': importantOgloszenie.fav, 'notfav': !importantOgloszenie.fav}">ulubione</button>
    </div>
    <h6> kategoria: {{ importantOgloszenie.category }} </h6>
    <p> {{ importantOgloszenie.description }} </p>
    <div class="row">
        <button class="btn btn-warning col-2" routerLink="/edit" (click)="toEdit(importantOgloszenie)">edytuj</button>
        <button class="btn btn-warning col-2" (click)="onDelete(importantOgloszenie)">usuń</button>
        <button class="btn btn-warning col-4" (click)="onDoNotImportant(importantOgloszenie, i)">usuń z ważnych</button>
        <button class="btn btn-warning col-2" [routerLink]="['/ogloszenia', importantOgloszenie.title]" (click)="toSee(importantOgloszenie, i)">zobacz</button>
    </div>
</div>
